.body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote  {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    min-height: 100px;
    margin: auto;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #131313;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #fee42a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 168px; 
}

.header_logo {
    display: block;
}

.header_logo-image {
    flex-shrink: 0;
}

.header_menu {
    display: flex;
    flex-direction: column;
}

.header_menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    list-style: none; 
}

.header_menu-item {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    text-decoration-line: underline;
    color: rgba(245, 245, 245, 1);
}

.header_menu-item-active{
    text-decoration-line: none;
}

.cover {
    padding: 7px 24px 32px 20px;
    background-image: url("../image/cover.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover__title{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FFF;
    font-family: 'EB Garamond', serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 100%;
}

.accent-span{
    display: block;
}

.text-center{
    display: block;
    text-align: center;
}

.text-right{
    display: block;
    text-align: right;
}

.intro {
    padding: 0 20px 38px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #CCC;
}

.intro__heading{
    display: flex;
    justify-content: space-between;
}

.intro__title{

    width: 203px;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__date{   
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__main-text{
    display: flex;
    flex-direction: column;
    gap: 24px ;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: #F5F5F5;
}

.reasons {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-section__subtitle{
    font-family: 'EB Garamond', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 115%;
}

.content-section__introduction{
    width: 320px;
    flex-shrink: 0;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px; 
}

.content-section__list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}

.content-section__list-accent{
    color: var(--black-bg, #131313);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
}

.how-to {
    padding: 40px 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card{
    box-sizing: border-box;
    display: flex;
    width: 319px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.card_theme_dark{
    background: #343434;
    border-radius: 30px;
}

.card_theme_bright{
    background: #FEE42A;
    border-radius: 30px;
    color: #131313;
}

.card__author-photo{
    width: 100px;
    height: 100px;
}

.card__author-name{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 135%;
}

.card__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__title{  
    font-family: 'EB Garamond';
    font-size: 22px;    
    font-weight: 500;
    line-height: 135%;

}

.card__content{ 
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
}


.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FEE42A;
    flex-wrap: wrap;
}

.footer__copy{
    display: block;
    text-align: center;
}

.footer__links{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 1.25;
    gap: 16px;
}
